body {
  --yellow: #ffe600;
  --black: #333333;
  --grey-900: #666666;
  --grey-800: #999999;
  --grey-700: #eeeeee;
  --blue: #3483fa;
  
}

$colors: "yellow", "black", "grey-900", "grey-800", "grey-700", "blue";

@each $color in $colors {
  .color-#{$color} {
    color: var(--#{$color}) !important;
  }
  .icon-color-#{$color} > span {
    color: var(--#{$color}) !important;
  }
}